.home h1,h2{
    background-image: linear-gradient(20deg, #006678, #4FA8FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home h3{
    font-style: italic;
}
.home p{
    color: #0c0b0b;
}
.button{
    padding: 7px 15px;
    background-image: linear-gradient(20deg, #006678, #4FA8FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    border-image: linear-gradient(to right bottom, #006678, #4FA8FF);
    border-image-slice: 1;
}
.link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #4FA8FF;
    padding: 7px 15px;
    border: 2px solid #006678;
}
